*{
    font-family: Arial, Helvetica, sans-serif;
}

p{
    font-size: 20px;
}

.colorRojo{
    color: red;
}

.colorRGB{
    color: rgb(93, 113, 218);
}

.colorRGBA{
    color: rgba(93, 217, 94, 0.6);
}

.colorHEX{
    color: #EE43E3;
}

.colorHSL{
    color: hsl(30, 68%, 31%);
}

*{
    font-family: Arial, Helvetica, sans-serif;
}

section{
    height: 400px;
}

div{
    height: 400px;
}

.fondoColor{
    background-color: #0f6666;
}

.fondoOpacidad{
    background-color: #5d0c0c;
    opacity: 0.6;
}

.fondoImagen{
    background-image: url("../images/fondo1.jpg");
}

.fondoRepetidoX{
    background-image: url("../images/fondo2.jpg");
    background-repeat: repeat-x;
}

.fondoRepetidoY{
    background-image: url("../images/fondo1.jpg");
    background-repeat: repeat-y;
}

.fondoNoRepetido{
    background-image: url("../images/fondo2.jpg");
    background-repeat: no-repeat;
}

.fondoPosicion{
    background-image: url("../images/fondo1.jpg");
    background-repeat: no-repeat;
    background-position: bottom right;
}

.fondoCompleto{
    background-image: url("../images/fondo2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
*{
    font-family: Arial, Helvetica, sans-serif;
}

.izquierda{
    text-align: left;
}

.derecha{
    text-align: right;
}

.centrado{
    text-align: center;
}

.justificado{
    text-align: justify;
}

.alReves{
    direction: rtl;
    unicode-bidi: bidi-override;
}

.decoradoOverline{
    text-decoration-line: overline;
}

.decoradoLineThrough{
    text-decoration-line: line-through;
}

.decoradoUnderline{
    text-decoration-line: underline;
}

.decoradoCombinado{
    text-decoration-line: underline;
    text-decoration-color: red;
    text-decoration-style: dotted;
    text-decoration-thickness: 5px;
}

.negritas{
    font-weight: 700;
}

.ligeras{
    font-weight: 100;
}

.link{
    text-decoration: none;
    color: black;
    
}
